In [ ]:
import pandas as pd         
import numpy as np         
import matplotlib.pyplot as plt

# 使用pandas讀檔
company = pd.read_csv('/content/company_revenue-ver2.csv')

# 檢視前幾列和標頭
company.head()

      出表日期  ...                                                 備註
0  1100717  ...  以上營收不包含停業部門營收:110年6月1,162,600仟元暨109年6月672,992仟...
1  1100717  ...                                                  -
2  1100717  ...                                                  -
3  1100717  ...                                                  -
4  1100717  ...                                                  -

[5 rows x 14 columns]

In [ ]:
print(type(company['出表日期']))

<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd
company = pd.DataFrame({
    '出表日期':[1100717, 1100717, 1100717, 1100717, 1100717],
    '資料年月':[11006, 11006, 11006, 11006, 11006],
    '公司代號':[1101, 1102, 1103, 1104, 1108],
    '公司名稱':['台泥', '亞泥', '嘉泥', '環泥', '幸福'],
    '產業別':['水泥工業', '水泥工業', '水泥工業', '水泥工業', '水泥工業'],
    '營業收入-當月營收':['$8,480,821.00', '$6,895,504.00', '$168,756.00', '$407,130.00', '$325,660.00']
 })
company.head()

In [ ]:
# 看看資料有多少列，是否有遺漏值，以及每一行的資料類型
company.info() #可以看到資料有954筆(列)，且有14個屬性(欄)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955 entries, 0 to 954
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   出表日期              955 non-null    int64
 1   資料年月              955 non-null    int64
 2   公司代號              955 non-null    int64
 3   公司名稱              955 non-null    object
 4   產業別               955 non-null    object
 5   營業收入-當月營收         955 non-null    object
 6   營業收入-上月營收         955 non-null    int64
 7   營業收入-去年當月營收       955 non-null    int64
 8   營業收入-上月比較增減(%)    954 non-null    float64
 9   營業收入-去年同月增減(%)    953 non-null    float64
 10  累計營業收入-當月累計營收     955 non-null    int64
 11  累計營業收入-去年累計營收     955 non-null    int64
 12  累計營業收入-前期比較增減(%)  953 non-null    float64
 13  備註                955 non-null    object
dtypes: float64(3), int64(7), object(4)
memory usage: 104.6+ KB

In [ ]:
# 計算遺漏值數量的方法
company.isnull().sum()

出表日期                0
資料年月                0
公司代號                0
公司名稱                0
產業別                 0
營業收入-當月營收           0
營業收入-上月營收           0
營業收入-去年當月營收         0
營業收入-上月比較增減(%)      1
營業收入-去年同月增減(%)      2
累計營業收入-當月累計營收       0
累計營業收入-去年累計營收       0
累計營業收入-前期比較增減(%)    2
備註                  0
dtype: int64

In [ ]:
# 顯示描述性統計
company.describe()

            出表日期     資料年月  ...  累計營業收入-去年累計營收  累計營業收入-前期比較增減(%)
count      955.0    955.0  ...   9.550000e+02        953.000000
mean   1100717.0  11006.0  ...   1.541954e+07       1053.521262
std          0.0      0.0  ...   8.103233e+07      27419.066915
min    1100717.0  11006.0  ...   0.000000e+00        -99.565138
25%    1100717.0  11006.0  ...   9.238175e+05          4.818703
50%    1100717.0  11006.0  ...   2.325243e+06         20.806448
75%    1100717.0  11006.0  ...   6.804135e+06         40.800850
max    1100717.0  11006.0  ...   2.058118e+09     833882.539700

[8 rows x 10 columns]

In [ ]:
'''使用Pandas的map功能，將函數映射到整個資料集：'''
# 為了視覺化需要刪除錢符號
company ['營業收入-當月營收'] = company ['營業收入-當月營收'].map(lambda value: value.replace('$',''))

# 檢查是否已刪除乾淨
company.head()

      出表日期  ...                                                 備註
0  1100717  ...  以上營收不包含停業部門營收:110年6月1,162,600仟元暨109年6月672,992仟...
1  1100717  ...                                                  -
2  1100717  ...                                                  -
3  1100717  ...                                                  -
4  1100717  ...                                                  -

[5 rows x 14 columns]

In [ ]:
#嘗試轉換資料型態
company ['累計營業收入-去年累計營收'] = company['累計營業收入-去年累計營收'].astype('float')
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955 entries, 0 to 954
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   出表日期              955 non-null    int64
 1   資料年月              955 non-null    int64
 2   公司代號              955 non-null    int64
 3   公司名稱              955 non-null    object
 4   產業別               955 non-null    object
 5   營業收入-當月營收         955 non-null    object
 6   營業收入-上月營收         955 non-null    int64
 7   營業收入-去年當月營收       955 non-null    int64
 8   營業收入-上月比較增減(%)    954 non-null    float64
 9   營業收入-去年同月增減(%)    953 non-null    float64
 10  累計營業收入-當月累計營收     955 non-null    int64
 11  累計營業收入-去年累計營收     955 non-null    float64
 12  累計營業收入-前期比較增減(%)  953 non-null    float64
 13  備註                955 non-null    object
dtypes: float64(4), int64(6), object(4)
memory usage: 104.6+ KB